


<div class="about-section">
  <h1 style="margin-top: 30px;">ABOUT US</h1>
  <p>We work together to get you the best content out there.</p>
  <h4>What makes us great?</h4>
</div>

<h1 style="text-align:center; margin: 40px;">OUR TEAM</h1>


<div *ngFor="let about of about_content">
  <div class="card">
    <div class="row" style="padding: 20px;">
      <div class="column">
          <img src="{{about._image_url}}" alt="Jane" class="about-image" style="width:100%; max-height: 40vh">
      </div>

      <div class="rightcolumn">
          <div class="container">
            <h2>{{about._name}}</h2>
            <h5 class="title">{{about._role}}</h5>
            <p class="title">{{about._specialization}}</p>
            <p>{{about._cover}}</p>
          </div>
      </div>
    </div>
  </div>
</div>


<h2 style="margin: 40px;">SPECIAL THANKS TO</h2>



<div class="card" style="padding: 20px;">
<div class="row">
    <div class="leftcolumn">
            <h2>Pexels</h2>
            <h5>Pexels.com</h5>
            <!--<div class="fakeimg" style="height:200px;">Image</div>-->
            <p>Check them out for awesome stock Images.</p>
    </div>
    <div class="rightcolumn">
        <h3>Images</h3>
        <p><a href="https://www.pexels.com/photo/silver-iphone-6-near-macbook-pro-1036841/" target="_blank" rel="noopener noreferrer">Photo by Dominika Roseclay from Pexels</a></p>
    </div>
</div>
</div>

<div class="card" style="padding: 20px;">
<div class="row">
    <div class="leftcolumn">
            <h2>W3 SCHOOLS</h2>
            <h5>w3schools.com</h5>
            <!--<div class="fakeimg" style="height:200px;">Image</div>-->
            <p>New to Web Development? Check them out.</p>
    </div>
    <div class="rightcolumn">
        <h3>Templates</h3>
        <p><a href="https://www.w3schools.com/howto/howto_css_about_page.asp" target="_blank" rel="noopener noreferrer">About page</a></p>
        <p><a href="https://www.w3schools.com/howto/howto_css_blog_layout.asp" target="_blank" rel="noopener noreferrer">Blog Layout</a></p>
    </div>
</div>
</div>
