


<div class="about-section">
  <h1 style="margin-top: 30px;">ABOUT US</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h1 style="text-align:center; margin: 40px;">OUR TEAM</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/images/person.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/person.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../assets/images/person.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
      </div>
    </div>
  </div>
</div>


<h2 style="margin-left: 30px;">SPECIAL THANKS TO</h2>
<div class="card" style="padding: 20px;">
<div class="row">
    <div class="leftcolumn">
            <h2>Pexels</h2>
            <h5>Pexels.com</h5>
            <!--<div class="fakeimg" style="height:200px;">Image</div>-->
            <p>Check them out for awesome stock Images.</p>
    </div>
    <div class="rightcolumn">
        <h3>Images</h3>
        <p><a href="https://www.pexels.com/photo/silver-iphone-6-near-macbook-pro-1036841/" target="_blank" rel="noopener noreferrer">Photo by Dominika Roseclay from Pexels</a></p>
    </div>
</div>
</div>

<div class="card" style="padding: 20px;">
<div class="row">
    <div class="leftcolumn">
            <h2>W3 SCHOOLS</h2>
            <h5>w3schools.com</h5>
            <!--<div class="fakeimg" style="height:200px;">Image</div>-->
            <p>New to Web Development? Check them out.</p>
    </div>
    <div class="rightcolumn">
        <h3>Templates</h3>
        <p><a href="https://www.w3schools.com/howto/howto_css_about_page.asp" target="_blank" rel="noopener noreferrer">About page</a></p>
        <p><a href="https://www.w3schools.com/howto/howto_css_blog_layout.asp" target="_blank" rel="noopener noreferrer">Blog Layout</a></p>
    </div>
</div>
</div>

<a href="../post-content" style="width: max-content;">Post Content..</a>